<h1> Equipo <%=h @team.teamname %> </h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Correo Electr&oacute;nico</th>
    <th>Tel&eacute;fono</th>
  </tr>

<% @players.each do |player| %>
  <tr>
    <td><%=h player.playername %></td>
    <td><%=h player.playeremail %></td>
    <td><%=h player.playerphonenumber %></td>
 		<td><%= link_to 'Editar', edit_player_path(player) %></td>
    <td><%= link_to 'Borrar', player, :confirm => 'Estas seguro de que deseas borrar al jugador?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'Agregar Jugador', new_player_path(:team_id => @team.id) %>
<%= link_to 'Regresar', teams_path %>
