<h1>Encuentros</h1>

<table>
		<tr>
			<th>Equipo Local</th>
			<th>Equipo Visitante</th>
			<th>Fecha de encuentro</th>
			<th>Hora de encuentro</th>
		</tr>

<% @matches.each do |match| %>
  <tr>
    <td><%= link_to match.localteam, match %></td>
    <td><%= link_to match.visitteam, match %></td>
    <td><%=h match.matchdate %></td>
    <td><%=h match.matchtime %></td>
    <td><%= link_to 'Editar', edit_match_path(match) %></td>
    <td><%= link_to 'Borrar', match, :confirm => 'Estas seguro que deseas bajar el encuentro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Agregar Encuentro', new_match_path %>
