<h1>Agregar Encuentro</h1>

<% form_for(@match) do |f| %>
  <%= f.error_messages %>

<%= f.hidden_field :week_id %>

  <p>
    <%= f.label :localteam, "Equipo Local:" %> 
		<%= f.collection_select :localteam, Team.find(:all), :id, :teamname %>
  </p>

	<p>
		<%= f.label :visitteam, "Equipo Local:" %> 
		<%= f.collection_select :visitteam, Team.find(:all), :id, :teamname %>
	</p>

  <p>
    <label for= "matchdate"> Fecha de encuentro: </label><br/>
    <%= f.date_select :matchdate %>
  </p>
  <p>
    <label for= "matchtime"> Hora de encuentro: </label><br/>
    <%= f.datetime_select :matchtime %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', matches_path %>
